.windows-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .main-desktop {
    width: 100vw;
    max-width: 177.78vh;
    /* 16/9 = 1.778 */
    height: calc(56.25vw - 2rem);
    /* height:width ratio = 9/16 = .5625  */
    max-height: calc(100vh - 2rem);
    background: url("../../../assets/img/win11.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;

    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 2.2rem;
      //border: 1px solid #fff;
      //border-radius: 4px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px) saturate(100%) contrast(18%) brightness(150%);
      overflow: hidden;
      position: absolute;
      bottom: 0;
      padding: 2px 0;

      .center-taskbar {
        display: flex;
        div {
          width: 1.5rem;
          padding: 6px;
          margin: 0 2px;
          border-radius: 2px;

          &:hover {
            background: white;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

